<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="Project about Gryph.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
      .chatbox {
        height: 80vh;
        overflow-y: auto;
        word-wrap: break-word;
      }
      img {
        vertical-align: baseline;
      }
    </style>
  </head>
  <body>

    {{{body}}}

    {{#if isDev}}
      <script src="/static/bundle.js"></script>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
