#userlist {
	width: 97px;
	overflow: hidden;
}

.chatbox {
	height: 80vh;
	overflow-y: auto;
	word-wrap: break-word;
}

img {
	vertical-align: baseline;
}

.rank {
	vertical-align: middle;
	padding: 2px;
}
