#userlist {
	white-space: nowrap;
	overflow: hidden;
}

#outer-userlist {
	padding: 0;
}

.chatbox {
	height: 80vh;
	overflow-y: auto;
	word-wrap: break-word;
}

img {
	vertical-align: baseline;
}

.rank {
	vertical-align: middle;
	padding: 2px;
}

.declare {
	background: rgb(25, 128, 235);
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
}

.announce {
	background: rgb(25, 128, 235);
	color: rgb(255, 255, 255);
}

.welcome {
	border: 1px solid #0074D9;
	padding: 10px;
	margin-bottom: 2px;
}
