<div id="root">
  <div id="loading">
    <div class="row">
      <div class="col-md-2">

        <div class="loader-inner ball-scale-ripple">
          <div></div>
        </div>

      </div>

      <div class="col-md-10">
        <h1>Loading</h1>

        <div class="loader-inner ball-pulse inline">
          <div></div>
          <div></div>
          <div></div>
        </div>
        
      </div>

    </div>
  </div>
</div>
